@page
@model NoticeBoard.Pages.AddModel
@{
    ViewData["Title"] = "Add";
}

<h2>Add</h2>


<form method="post">

    <textarea asp-for="n1.Content" rows="10" cols="50" placeholder="enter your message.." class="form-control">
    
    </textarea>
    <br />
    <input type="text" asp-for="n1.Author" placeholder="enter your name.." class="form-control"/>
    <br />
    <button type="submit" class="btn btn-primary" >Save</button>
   
</form>
